body {
  font-family: 'Helvetica' sans serif;
}

header,
nav {
  background-color: #303030;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

article {
  border: ;
  box-shadow: 10px 10px 5px -7px rgba(214,210,214,1);
  width: 23vw;
  overflow-wrap: break-word;
  margin: .75em;
  display: inline-block;
}

section {
  background-color: #fff;
}

main {
  background-color: #f0f0f0;
}

h1 {
  margin-top: 0;
  padding-top: 18px;
}

 .logo {
  display: inline;
  padding-top: 10px;
 }

 .header {
  float: right;
  display: block;
  padding-top: 10px;
 }

 .tiny-icon {
  padding: 0 5px;
  margin: 0 5px;
 }

 .large-icon {
  width: 70px;
  height: 80px;
  padding-top: 15px;
 }

 nav {
  padding-bottom: 25px;
  padding-top: 8%;
 }

 .playlist-url {
  background-color: #f0f0f0;
  color: #686868;
  padding: 5px;
 }

 .card {
  background: url("images/SteveHolt2.png") no-repeat;
}

.playcount {
  float: right;
}

.arrow {
  padding-top: 5px;
}

.num {
  padding-bottom: 10px;
}